@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

body { 
  font-family: 'Fira Sans';
  color: white;
}

.remark-slide-content {
  background-color: black;
  background-image: url(../img/space.jpg);
  background-size: cover;
}

img {
  width: 100%;
}

blockquote {
  font-size: 2em;
  font-style: italic;
}

blockquote::before {
  content: '“';
  position: absolute;
  display: inline-block;
  margin-left: -2.1em;
  width: 2em;
  text-align: right;
  font-size: 90px;
}

/* author */
.author {
  font-size: 35px;
  text-align: right;
  margin-right: 50px;
}

.author::before {
  content: '—';
}
